$underline_color: #000;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

%section {
    padding: 35px 40px 35px 40px;
}

%link-hover-effect {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 8px;
    margin-right: 10px;
    margin-left: 10px;

    &:focus {
        color: white;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: $underline_color;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover, &:focus {
        &:before, &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}

.separator {
    border-left: 6px solid black;
}

html {
    scroll-behavior: smooth;
}

#main-nav {
    padding: 10px 60px 10px 60px;
    font-size: 16px;
    font-weight: 600;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    height: 80px;
    transition: background-color 0.3s ease 0s;

    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.15);

    }

    .dropdown-item {
        color: white;

        &:hover {
            background-color: rgba(44, 43, 43, 0.4);
        }
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    
    a {
        margin-right: 5px;
    }

    #logo {
        max-width: 90px;
        max-height: 90px;
    }

}

#theme-section {
    img {
        height: 100vh;
    }
}

#event-details {
    @extend %section;
    height: 45vh;
    background-color: #031e63;
    display: flex;

    .event-social-column {
        width: 40%;
        line-height: 12vh;

        #social-column {
            list-style: none;
            text-align: right;
            margin-right: 5vw;
            font-size: 2em;

            a {
                text-decoration: none;
                color: #e62954;
                transition: 0.2s;
            }

            a:hover {
                color: white;
            }

            .fa-facebook-f {
                margin-right: 6px;
            }

            .fa-instagram {
                margin-right: 3px;
            }
        }
    }

    .venue-time {
        width: 60%;
        margin-left: 5vw;
        padding-top: 6vh;
        // background-color: red;

        .date {
            font-size: 3.5em;
            color: #e62954;
        }

        .venue {
            color: white;
            font-weight: 800;
        }

        .place {
            color: #c2bfbf;
        }

        .btn {
            background-color: #e62954;
            border: none;
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                background-color: #eb6282;
            }
        }
    }
}

#about-section {
    @extend %section;
    height: 300px;
    background-color: rgb(226, 224, 224);
    display: flex;
    
    .about-heading {
        text-align: right;
        width: 40%;
        // background-color: red;
        padding: 10vh 60px;
    }

    .about-details {
        text-align: left;
        width: 60%;
        // background-color: green;
        padding: 10vh 55px;
    }

    .column {
        flex: 50%;
    }
}

#our-speakers {
    @extend %section;
    padding: 35px 0 0 0;
    background-color: antiquewhite;

    // Allows for Animation of Link on Hover
    // Referenced from https://codepen.io/devilishalchemist/pen/ZYLZay?editors=1100
    a {
        @extend %link-hover-effect;
    }

    #speaker-content-row {
        padding-top: 25px;

        #speakers-column {
            background-color: green;
            display: flex;

            .speaker-div {
                flex: 16.67%;
                height: 500px;
            }

            .speaker-img {
                background-color: purple;
            }

            .speaker-img1 {
                background-color: teal;
            }

            .speaker-img2 {
                background-color: orange;
            }

            .speaker-img3 {
                background-color: #e62954;
            }

            .speaker-img4 {
                background-color: aquamarine;
            }

            .speaker-img5 {
                background-color: greenyellow;
            }
        }
    }
}

#trailer {
    @extend %section;
    padding: 50px 60px;
    background-color: goldenrod;
}

#charity-section {
    @extend %section;
    height: 300px;
    background-color: rgb(226, 224, 224);
    display: flex;

    .charity-heading {
        width: 40%;
        background-color: red;
    }

    .charity-details {
        width: 60%;
        background-color: green;
        padding: 0 55px 0 55px;

        p {
            padding-top: 10px;
        }
    }
}

#awards-section {
    @extend %section;

    background-color: yellowgreen;
}

#meet-the-team {
    @extend %section;
    padding: 30px 0px 30px 0px;
    background-color: #e62954;

    h1 {
        margin-bottom: 15px;
    }

    #team-photo-section {
        padding: 15px 233px 0px 233px;
        min-height: 300px;

        .profile {
            img {
                max-width: 180px;
                max-height: 180px;
                margin-top: 15px;
            }

            h4 {
                font-size: 24px;
                margin-top: 15px;
            }

            h6 {
                color: grey;
            
            }
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    a {
        @extend %link-hover-effect;
    }
}

#see-you-section {
    @extend %section;
    height: 400px;
    padding-top: 90px;

    background-color: #031e63;
    color: #fff;

    .btn {
        margin-top: 10px;
    }
}

#main-footer {
    background-color: rgba(0, 0, 0);
    color: white;
    font-size: 18px;
    padding: 0px 30px 0px 30px;
    animation-duration: 0.5s;

    #ppia-text {
        padding: 3vh;
    }

    a {
        transition: all 0.1s ease-in-out;
    }

    a:hover {
        transform: scale(1.15);
        color: #d8d7d7;
    }
    
    .nav {
        padding: 2vh 0 2vh 0;
        transition: all 0.1s ease-in-out;

        .nav-link {
            color: white;
            font-size: 20px;
            margin-right: 20px;
        }
    }
}
