#main-nav {
    padding: 25px 80px 25px 80px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;

    #logo {
        max-width: 100px;
        max-height: 100px;
    }
}

#social-button-row {
    padding-top: 20px;
}

.filler {
    height: 1000px;
    background-color: red;
}

.footer {
    background-color: black;
    color: white;

    .nav-link {
        color: white;

        :hover {
            color: grey;
        }
    }
}
