$underline_color: white;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

%section {
    padding: 35px 40px 35px 40px;
}

%link-hover-effect {
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
    margin-right: 10px;
    margin-left: 10px;

    &:focus {
        color: #e62954;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: $underline_color;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover, &:focus {
        &:before, &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}

.separator {
    border-left: 6px solid #031e63;
}

.btn {
    background-color: #031e63;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        background-color: white;
        color: #031e63;
    }
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3em;
}

#main-nav {
    padding: 10px 60px 10px 60px;
    font-size: 16px;
    font-weight: 600;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    height: 80px;
    transition: background-color 0.3s ease 0s;

    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.15);

    }

    .dropdown-item {
        color: white;

        &:hover {
            background-color: rgba(44, 43, 43, 0.4);
        }
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    
    a {
        margin-right: 5px;
    }

    #logo {
        max-width: 90px;
        max-height: 90px;
    }

}

#theme-section {
    // Referenced from:
    // https://medium.com/@PatrykZabielski/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27
    height: 100vh;
    overflow: hidden;
    position: relative;
    
    .layer {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }
    
    .background-layer {
        background-image: url('../assets/theme-layers/bg.png');
    }
    
    .shapes-layer {
        background-image: url('../assets/theme-layers/shapes.png');
        animation-delay: 0.2s;
    }
    
    .text-layer {
        background-image: url('../assets/theme-layers/text');
        animation-delay: 0.75s;
    }
}

#theme-section-mobile {
    display: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../assets/theme-layers/cover.jpg');
    height: 100vh;
}

@media all and (max-width: 640px) {
    // Disables parallax effect on mobile
    #theme-section {
       display: none;
    }
    #theme-section-mobile {
       display: block;
    }
}

#event-details {
    @extend %section;
    height: 45vh;
    background-color: #e62954;
    display: flex;

    .event-social-column {
        width: 40%;
        line-height: 12vh;

        #social-column {
            list-style: none;
            text-align: right;
            margin-right: 5vw;
            font-size: 2em;

            a {
                text-decoration: none;
                color: #031e63;
                transition: 0.2s;
            }

            a:hover {
                color: white;
            }

            .fa-facebook-f {
                margin-right: 6px;
            }

            .fa-instagram {
                margin-right: 3px;
            }
        }
    }

    .venue-time {
        width: 60%;
        margin-left: 5vw;
        padding-top: 6vh;
        // background-color: red;

        .date {
            font-size: 3.5em;
            color: #031e63;
        }

        .venue {
            color: white;
            font-weight: 800;
        }

        .place {
            color: #031e63;
        }
    }
}

#trailer {
    @extend %section;
    padding: 50px 60px;
    background-color: #031e63;
}

#about-section {
    @extend %section;
    height: 300px;
    background-color: #e62954;
    display: flex;
    
    .about-heading {
        width: 40%;
        color: #031e63;
        text-align: right;
        // background-color: red;
        padding: 10vh 60px;
    }

    .about-details {
        color: white;
        text-align: left;
        width: 60%;
        // background-color: green;
        padding: 10vh 55px;
    }

    .column {
        flex: 50%;
    }
}

#our-speakers {
    @extend %section;
    padding: 35px 0 0 0;
    background-color: #031e63;

    h1 {
        color: #e62954;
    }

    #speaker-history-row {
        a {
            // Allows for Animation of Link on Hover
            // Referenced from https://codepen.io/devilishalchemist/pen/ZYLZay?editors=1100
            @extend %link-hover-effect;
        }
    }

    #speaker-content-row {
        padding-top: 25px;
        display: flex;
        position: relative;

        #coming-soon {
            display: block;
            height: 500px;
            padding-top: 100px;

            ul {
                list-style: none;
                font-size: 40px;
                
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 20px 40px 20px 40px;
                    
                    a {
                        color: white;
                        transition: 0.2s;

                        &:hover {
                            color: #e62954;
                            text-decoration: none;
                        }
                    }

            
                }
            }
        }

        .speaker-div {
            flex: 16.67%;
            height: 500px;
            position: relative;
        }

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.2s ease;
            text-align: left;
            background-color: rgb(41, 40, 40);
            padding: 0px 25px 10px 15px;
    
            &:hover {
                opacity: 0.93;
            }

            .details {
                position: absolute;
                bottom: 0;
                margin-right: 10px;

                h1 {
                    font-size: 40px;
                }
        
                h2 {
                    color: white;
                    font-size: 36px;
                }
        
                h3 {
                    color: rgb(214, 214, 214);
                    font-size: 20px;
                }
            }
        }

        .speaker-img {
            background-color: purple;
        }

        .speaker-img1 {
            background-color: teal;
        }

        .speaker-img2 {
            background-color: orange;
        }

        .speaker-img3 {
            background-color: #e62954;
        }

        .speaker-img4 {
            background-color: aquamarine;
        }

        .speaker-img5 {
            background-color: greenyellow;
        }
    }
}

#charity-section {
    @extend %section;
    height: 300px;
    background-color: #e62954;
    display: flex;

    .charity-heading {
        width: 40%;
        color: #031e63;
        text-align: left;
        padding: 7vh 60px;

        h2 {
            font-size: 2.5em;
            color: white;
        }
    }

    .charity-details {
        width: 60%;
        color: white;
        text-align: right;
        padding: 5vh 55px;

        p {
            padding-top: 10px;
        }
    }
}

#awards-section {
    @extend %section;

    background-color: yellowgreen;
}

#meet-the-team {
    @extend %section;
    padding: 30px 0px 30px 0px;
    background-color: #031e63;

    h1 {
        color: #e62954;
        margin-bottom: 15px;
    }

    #team-photo-section {
        padding: 15px 233px 0px 233px;
        min-height: 300px;

        .profile {
            img {
                max-width: 180px;
                max-height: 180px;
                margin-top: 15px;
            }

            h4 {
                color: #e62954;
                font-size: 24px;
                margin-top: 15px;
            }

            h6 {
                color: white;
            
            }
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    a {
        @extend %link-hover-effect;
    }
}

#sponsor-section {
    @extend %section;
    height: 400px;
    padding-top: 90px;

    background-color: #e62954;
    color: #fff;

    .btn {
        margin-top: 10px;
    }
}

#main-footer {
    background-color: rgba(0, 0, 0);
    color: white;
    font-size: 18px;
    padding: 0px 30px 0px 30px;
    animation-duration: 0.5s;

    #ppia-text {
        padding: 3vh;
    }

    a {
        transition: all 0.1s ease-in-out;
    }

    a:hover {
        transform: scale(1.15);
        color: #d8d7d7;
    }
    
    .nav {
        padding: 2vh 0 2vh 0;
        transition: all 0.1s ease-in-out;

        .nav-link {
            color: white;
            font-size: 20px;
            margin-right: 20px;
        }
    }
}
