#sponsor-section, #meet-the-team, #awards-section, #charity-section, #our-speakers, #about-section, #trailer, #event-details {
  padding: 35px 40px 35px 40px;
}

#meet-the-team a, #our-speakers a {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;
}
#meet-the-team a:focus, #our-speakers a:focus {
  color: #e62954;
}
#meet-the-team a:before, #our-speakers a:before, #meet-the-team a:after, #our-speakers a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}
#meet-the-team a:before, #our-speakers a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
#meet-the-team a:after, #our-speakers a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
#meet-the-team a:hover:before, #our-speakers a:hover:before, #meet-the-team a:hover:after, #our-speakers a:hover:after, #meet-the-team a:focus:before, #our-speakers a:focus:before, #meet-the-team a:focus:after, #our-speakers a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
#meet-the-team a:hover:before, #our-speakers a:hover:before, #meet-the-team a:focus:before, #our-speakers a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
#meet-the-team a:hover:after, #our-speakers a:hover:after, #meet-the-team a:focus:after, #our-speakers a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

.separator {
  border-left: 6px solid #031e63;
}

.btn {
  background-color: #031e63;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn:hover {
  background-color: white;
  color: #031e63;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em;
}

#main-nav {
  padding: 10px 60px 10px 60px;
  font-size: 16px;
  font-weight: 600;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  height: 80px;
  transition: background-color 0.3s ease 0s;
}
#main-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.15);
}
#main-nav .dropdown-item {
  color: white;
}
#main-nav .dropdown-item:hover {
  background-color: rgba(44, 43, 43, 0.4);
}
#main-nav .dropdown:hover > .dropdown-menu {
  display: block;
}
#main-nav a {
  margin-right: 5px;
}
#main-nav #logo {
  max-width: 90px;
  max-height: 90px;
}

#theme-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#theme-section .layer {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
#theme-section .background-layer {
  background-image: url("../assets/theme-layers/bg.png");
}
#theme-section .shapes-layer {
  background-image: url("../assets/theme-layers/shapes.png");
  animation-delay: 0.2s;
}
#theme-section .text-layer {
  background-image: url("../assets/theme-layers/text");
  animation-delay: 0.75s;
}

#theme-section-mobile {
  display: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../assets/theme-layers/cover.jpg");
  height: 100vh;
}

@media all and (max-width: 640px) {
  #theme-section {
    display: none;
  }

  #theme-section-mobile {
    display: block;
  }
}
#event-details {
  height: 45vh;
  background-color: #e62954;
  display: flex;
}
#event-details .event-social-column {
  width: 40%;
  line-height: 12vh;
}
#event-details .event-social-column #social-column {
  list-style: none;
  text-align: right;
  margin-right: 5vw;
  font-size: 2em;
}
#event-details .event-social-column #social-column a {
  text-decoration: none;
  color: #031e63;
  transition: 0.2s;
}
#event-details .event-social-column #social-column a:hover {
  color: white;
}
#event-details .event-social-column #social-column .fa-facebook-f {
  margin-right: 6px;
}
#event-details .event-social-column #social-column .fa-instagram {
  margin-right: 3px;
}
#event-details .venue-time {
  width: 60%;
  margin-left: 5vw;
  padding-top: 6vh;
}
#event-details .venue-time .date {
  font-size: 3.5em;
  color: #031e63;
}
#event-details .venue-time .venue {
  color: white;
  font-weight: 800;
}
#event-details .venue-time .place {
  color: #031e63;
}

#trailer {
  padding: 50px 60px;
  background-color: #031e63;
}

#about-section {
  height: 300px;
  background-color: #e62954;
  display: flex;
}
#about-section .about-heading {
  width: 40%;
  color: #031e63;
  text-align: right;
  padding: 10vh 60px;
}
#about-section .about-details {
  color: white;
  text-align: left;
  width: 60%;
  padding: 10vh 55px;
}
#about-section .column {
  flex: 50%;
}

#our-speakers {
  padding: 35px 0 0 0;
  background-color: #031e63;
}
#our-speakers h1 {
  color: #e62954;
}
#our-speakers #speaker-content-row {
  padding-top: 25px;
  display: flex;
}
#our-speakers #speaker-content-row .speaker-div {
  flex: 16.67%;
  height: 500px;
  position: relative;
}
#our-speakers #speaker-content-row .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  text-align: left;
  background-color: #292828;
  padding: 0px 25px 10px 15px;
}
#our-speakers #speaker-content-row .overlay:hover {
  opacity: 0.93;
}
#our-speakers #speaker-content-row .overlay .details {
  position: absolute;
  bottom: 0;
}
#our-speakers #speaker-content-row .overlay .details h1 {
  font-size: 40px;
}
#our-speakers #speaker-content-row .overlay .details h2 {
  color: white;
  font-size: 36px;
}
#our-speakers #speaker-content-row .overlay .details h3 {
  color: #d6d6d6;
  font-size: 20px;
}
#our-speakers #speaker-content-row .speaker-img {
  background-color: purple;
}
#our-speakers #speaker-content-row .speaker-img1 {
  background-color: teal;
}
#our-speakers #speaker-content-row .speaker-img2 {
  background-color: orange;
}
#our-speakers #speaker-content-row .speaker-img3 {
  background-color: #e62954;
}
#our-speakers #speaker-content-row .speaker-img4 {
  background-color: aquamarine;
}
#our-speakers #speaker-content-row .speaker-img5 {
  background-color: greenyellow;
}

#charity-section {
  height: 300px;
  background-color: #e62954;
  display: flex;
}
#charity-section .charity-heading {
  width: 40%;
  color: #031e63;
  text-align: left;
  padding: 7vh 60px;
}
#charity-section .charity-heading h2 {
  font-size: 2.5em;
  color: white;
}
#charity-section .charity-details {
  width: 60%;
  color: white;
  text-align: right;
  padding: 5vh 55px;
}
#charity-section .charity-details p {
  padding-top: 10px;
}

#awards-section {
  background-color: yellowgreen;
}

#meet-the-team {
  padding: 30px 0px 30px 0px;
  background-color: #031e63;
}
#meet-the-team h1 {
  color: #e62954;
  margin-bottom: 15px;
}
#meet-the-team #team-photo-section {
  padding: 15px 233px 0px 233px;
  min-height: 300px;
}
#meet-the-team #team-photo-section .profile {
  margin-left: 30px;
  margin-right: 30px;
}
#meet-the-team #team-photo-section .profile img {
  max-width: 180px;
  max-height: 180px;
  margin-top: 15px;
}
#meet-the-team #team-photo-section .profile h4 {
  color: #e62954;
  font-size: 24px;
  margin-top: 15px;
}
#meet-the-team #team-photo-section .profile h6 {
  color: white;
}
#sponsor-section {
  height: 400px;
  padding-top: 90px;
  background-color: #e62954;
  color: #fff;
}
#sponsor-section .btn {
  margin-top: 10px;
}

#main-footer {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 0px 30px 0px 30px;
  animation-duration: 0.5s;
}
#main-footer #ppia-text {
  padding: 3vh;
}
#main-footer a {
  transition: all 0.1s ease-in-out;
}
#main-footer a:hover {
  transform: scale(1.15);
  color: #d8d7d7;
}
#main-footer .nav {
  padding: 2vh 0 2vh 0;
  transition: all 0.1s ease-in-out;
}
#main-footer .nav .nav-link {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

/*# sourceMappingURL=index.css.map */
